{% extends 'base.html.twig' %}

{% block body %}

    <style>
        #footer { text-align: center; }
        #voirRappels { border-radius: 4px; border-color: #ed7941; color: #ed7941; }
        #body { width: 40%; border: 1px solid gray; margin-left: 30%; margin-right: 30%; margin-top: 5%; padding: 20px;}
        #form { display: flex; flex-direction: column; align-items: center;  }
        #title { text-align: center; }
        #submit { margin-left: 35%; margin-right: 35%; border-radius: 4px; background-color: #ed7941; }
        .input { margin: 10px; width: 400px; }
        .btn { color: white; }
    </style>

    <div id="body">
        {{ form_start(form) }}

        <h1 id="title">Rappel clients</h1>

        <div id="form">
            <div class="input" class="form-group">
                {{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}

            </div>
            <div class="input" class="form-group">
                {{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}

            </div>
            <div class="input" class="form-group">
                {{ form_row(form.countryCode, {'attr': {'class': 'form-control'}}) }}

            </div>
            <div class="input" class="form-group">
                {{ form_row(form.phoneNumberNational, {'attr': {'class': 'form-control'}}) }}

            </div>
            <div class="form-group" id="submit">
                {{ form_row(form.send, {'attr': {'class': 'btn'}}) }}
            </div>
            <br />
            <div id="footer">
                <a type="button" id="voirRappels" class="btn" href="https://localhost/list">Voir la liste des rappels</a>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}

